{% extends "admin_base.html" %}

{% load staticfiles %}
{% block title %} Add Machine - {{ user.username }} {% endblock %}
{% block extracss %}
{% endblock %}
{% block main %}

            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">Add Machine</div>
                                    <div class="card-body">
                                        <form method="post" action="" id="add_machine">
                                            {% csrf_token %}
                                             <div class="row form-group">
                                                <div class="col-md-6">
                                                  <input type="text" class="form-control" id="Make" name="Make" placeholder="Make" required>
                                                    </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="Model" name="Model" placeholder="Model" required>
                                                </div>

                                            </div>
                                        <div class="row form-group">
                                                <div class="col-md-6">
                                                  <input type="text" class="form-control" id="SerialNo" name="SerialNo" placeholder="SerialNo" required>
                                                    </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="Processor" name="Processor" placeholder="Processor" required>
                                                </div>

                                            </div>
                                      <div class="row form-group">
                                                <div class="col-md-6">
                                                  <input type="text" class="form-control" id="RAM" name="RAM" placeholder="RAM" required>
                                                    </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="HDD" name="HDD" placeholder="HDD" required>
                                                </div>

                                            </div>
                                        <div class="row form-group">

                                                <div class="col-md-6">

                                                    <label class="control-label mb-1">Expired At</label>
                                                    <input type="date" name="WarrantyStatus" class="form-control"  min="2015-12-31" placeholder="Expired At">
                                                               </div>
                                             <div class="col-md-6">

                                                    <label class="control-label mb-1">Status</label>
                                                 <select name="Status" id="Status" class="form-control">
                                                        <option value="">--Status--</option>
                                                        <option value="1">Online</option>
                                                        <option value="2">Offline</option>
                                                        <option value="3">Not in Use </option>
                                                        <option value="4">Working but known issue </option>
                                                        <option value="5">Status unknown</option>
                                                    </select>
                                                </div>
                                        </div>
                                             <div class="row form-group">
                                                <div class="col-md-6">
                                                    <textarea name="Description" id="Description" placeholder="Description" rows="1" cols="53" class="form-control" required></textarea>
                                                                     </div>
                                             <div class="col-md-6">
                                                     <input type="text" class="form-control" id="OwnerTeam" name="OwnerTeam" placeholder="OwnerTeam" required>
                                                                     </div>
                                         </div>
                                            <div class="row form-group">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="Ownerperson" name="OwnerPerson" placeholder="OwnerPerson" required>
                                                                     </div>
                                             <div class="col-md-6">
                                                     <input type="text" class="form-control" id="Leasedto" name="Leasedto" placeholder="Leasedto">
                                                                     </div>
                                         </div>
                                            <div class="row form-group">
                                                 <div class="col-md-6">
                                                     <input type="text" class="form-control" id="UsedBy" name="UsedBy" placeholder="UsedBy">
                                                                     </div>
                                             <div class="col-md-6">
                                                     <input type="text" class="form-control" id="Physicallocation" name="Physicallocation" placeholder="Physicallocation" required>
                                                                     </div>
                                         </div>
                                            <div class="row form-group">
                                                 <div class="col-md-6">
                                                     <input type="text" class="form-control" id="IP" name="IP" placeholder="IP" required>
                                                                     </div>
                                             <div class="col-md-6">
                                                     <input type="text" class="form-control" id="HostName" name="HostName" placeholder="HostName" required>
                                                                     </div>
                                         </div>
                                             <div class="row form-group">
                                                 <div class="col-md-6">
                                                     <input type="text" class="form-control" id="ProvidedBy" name="ProvidedBy" placeholder="ProvidedBy" required>
                                                                     </div>
                                         </div>

                                        <div><button type="submit" class="btn btn-lg btn-info btn-block addmachine">
                                                    Add Machine
                                                </button></div>
                                            </form>
                                </div>


                    </div>
                            </div>
                        </div>





                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 CoolAdmin. All rights reserved.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

{% endblock %}
{% block extrajs %}
{% endblock %}