{% extends "admin_base.html" %}

{% load staticfiles %}
{% block title %} Build Details - {{ user.username }} {% endblock %}
{% block main %}


            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-12">
                                <a class="btn btn-primary btn-sm pull-right" target="_blank" href="/mysite/download/phonedetail/">
                                    <i class="fa fa-download"></i> Export File
                                </a>
                                <a class="btn btn-primary btn-sm pull-right mr-1" target="_blank" href="add/">
                                    <i class="fa fa-plus"></i> Add
                                </a>
                                <div class="table-responsive table-data table--no-card m-b-30">
                                    <table class="table table-borderless table-data3" style="margin-top:5px !important">
                                        <thead>
                                            <tr>

                                                <th>SerialNo</th>
                                                <th>IP</th>
                                                <th>HostName</th>
                                                <th>WarrantyStatus</th>
                                                <th>Status</th>
                                                <th>validationStatus</th>
                                                <th>RAM</th>
                                                <th>OwnerPerson</th>
                                                <th>Physicallocation</th>
                                                <th>ProvidedBy</th>
                                                <th>Description</th>

                                            </tr>
                                        </thead>
                                        <tbody id="builddata">
                                            <tr>
                                                <td colspan="11" style="text-align:left">No phone found</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 CoolAdmin. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->

{% endblock %}
{% block extrajs %}

    <script>

phoneDetail();


function phoneDetail(){
$.ajax({
          url: 'http://10.112.87.90/api/Inventory/GetPhone',
          type: 'GET',
          data: {email: "{{ user.email }}", is_staff : "{{ user.is_staff }}" },
          contentType:'application/json',
          dataType: 'json',
          success: function(data) {
          console.log(data);

          var options = '';

          for (var i = 0; i < data.length; i++) {
          validate="";
          if (data[i].validationStatus != 1){
          validate=' <a class="btn btn-sm btn-success pull-right validate" href="http://10.112.87.90/api/inventory/ValidateDesktop/?email={{ user.email }}&serial='+data[i].SerialNo+'"> Validate </a>'
          }
           options += '<tr><td><a href="/mysite/phonedetail/change/?serialno='+data[i].SerialNo+'">' + data[i].SerialNo + '</a></td><td>'+ data[i].IP + '</td><td>'+ data[i].HostName + '</td><td>'+ getcolorbubble(data[i].WarrantyStatus) +'</td><td>'+ getcolorbubble(data[i].Status) +'</td><td>'+ getcolorbubble(data[i].validationStatus) + validate +'</td><td>'+ data[i].RAM + '</td><td>'+ data[i].OwnerPerson + '</td><td>'+ data[i].Physicallocation + '</td><td>'+ data[i].ProvidedBy + '</td><td>'+ data[i].Description + '</td></tr>';

           }
         if (data.length == 0){
          options += '<tr><td colspan="11" style="text-align:left">No Phone Found </td></tr>'
         }
          $("tbody#builddata").html(options);


          },
          error: function() { console.log('Something wrong happen, Please try again!'); }
        });
}



    </script>
{% endblock %}