{% extends "admin_base.html" %}

{% load staticfiles %}
{% block title %} Auto Sanity - {{ user.username }} {% endblock %}
{% block main %}

            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">Auto Sanity</div>
                                    <div class="card-body">
                                        <form action="" method="post" novalidate="novalidate">
                                            <div class="row form-group">

                                                <div class="col-12 col-md-3">
                                                    <select name="platform" id="platform" class="form-control" required>
                                                        <option value="">--Choose Plateform --</option>
                                                        <option value="winpc">winpc</option>
                                                        <option value="ios">ios</option>
                                                        <option value="mac">mac</option>
                                                        <option value="web">web</option>
                                                        <option value="android">android</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-md-1">
                                                    <i class="fa fa-spinner fa-spin" style="display:none"></i>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <select name="build" id="build" class="form-control">
                                                        <option value="">-- Build --</option>
                                                    </select>
                                                    <span class="help-block" style="display:none">Status of this build is <b style="color:green"></b></span>
                                                </div>
                                                <div class="col-12 col-md-2">
                                        <a class="btn btn-primary btn-sm" href="#" id="download" target="_blank">
                                            <i class="fa fa-download"></i> Build
                                        </a>

                                    </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>agentIP</th>
                                                <th>agentState</th>
                                                <th>buildName</th>
                                                <th>buildState</th>

                                            </tr>
                                        </thead>
                                        <tbody id="agentdata">
                                            <tr>
                                                <td colspan="4" style="text-align:left">No Agent found for this platform</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                             <div class="col-lg-6">
                                <div class="au-card m-b-30">
                                    <div class="au-card-inner">
                                        <canvas id="doughutChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="user-data m-b-30" style="min-height:580px;">
                                    <div class="testcase-pass-tables" style="display:none">
                                        <h3 class="title-3 m-b-30">Pass TestCases</h3>

                                        <div class="table-responsive table-data">
                                    <table class="table">

                                        <tbody id="passdata">
                                            <tr>
                                                <td style="text-align:left">No Pass TestCase Exist</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                            </div>
                                </div>

                                    <div class="testcase-fail-tables" style="display:none">
                                        <h3 class="title-3 m-b-30">Fail TestCases</h3>
                                        <div class="table-responsive table-data">
                                    <table class="table ">

                                        <tbody id="faildata">
                                            <tr>
                                                <td style="text-align:left">No Fail TestCase Exist</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 CoolAdmin. All rights reserved.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

{% endblock %}
{% block extrajs %}

    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
{% endblock %}
