{% extends "admin_base.html" %}

{% load staticfiles %}
{% block title %} Build Details - {{ user.username }} {% endblock %}
{% block main %}


            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>

                                                <th>V4 IP</th>
                                                <th>STATUS</th>
                                                <th>MACHINE TYPE</th>
                                                <th>OPERATING SYSTEM</th>
                                                <th>FQDN</th>
                                                <th> RAM </th>
                                                <th>LOCATION</th>
                                                <th>OWNER TEAM</th>
                                                <th>OWNER PERSON</th>
                                                <th>IS ACTIVE</th>

                                            </tr>
                                        </thead>
                                        <tbody id="builddata">
                                        {% for s in serverdetail %}

                                        <tr>
                                                <td>{{ s.v4_ip }}</td>
                                                <td>{{ s.status }}</td>
                                                <td>{{ s.get_machine_type_display }}</td>
                                                <td>{{ s.get_operating_system_display }}</td>
                                                <td>{% if s.fqdn %} {{ s.fqdn }} {% else %} -NA- {% endif %}</td>
                                                <td>{{ s.ram }}</td>
                                                <td>{{ s.location }}</td>
                                                <td>{{ s.owner_team }}</td>
                                                <td>{{ s.owner_person }}</td>
                                                <td>{% if s.isactive %}<img src="/static/admin/img/icon-yes.svg" alt="True">{% else %}<img src="/static/admin/img/icon-no.svg" alt="True">{% endif %}</td>
                                        </tr>

                                        {% empty %}
                                            <tr>
                                                <td colspan="10" style="text-align:left">No Build found</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 CoolAdmin. All rights reserved.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->

{% endblock %}
{% block extrajs %}
{% endblock %}